body {
        background-image: url("./photos/binding_dark.png");
	min-width : 900px;
        padding : 20px;
}

.centered {
    text-align: center;
}

* {
    color: white;
    font-family: Helvetica, sans-serif;
}

a { 
    color:#F36D06;
    text-decoration:none;
}


a:hover { 
	color: #1E90FF; 
}

input{
    color: black
}

.nav {
    list-style-type:none;
    overflow:hidden;
}

ul.nav li {
    text-align: center;
}

ul.nav a {
    display:block;
}

.selected {
  /*background-color : rgba(100,100, 100 , 0.7);*/
  font-weight : bold;
  font-size : larger;
}


.button{
    color : black;
}
/*These are the grids for the pages. The number refers to how many can fit
onto the page horizontally. */

*, *:after, *:before{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

[class*='grid-']:after {
  content: "";
  display: table;
  clear: both;
}

.east {
    float : right;
}
.west {
    float : left;
}
.grid-1{
    width: 100%;
}
.grid-2-3{
    padding : 12px;
    width : 65%;
}
.grid-2 {
    padding : 12px;
    width : 50%;  
    
/*    border-color : white;
    border-width: 2px;
    border-style : solid;*/
}
.grid-3 {
    padding : 12px;
    width : 33.33%;    
}
.grid-4 {
    padding : 12px;
    width : 25%; 
}
.grid-5 {
    padding : 12px;
    width : 20%;    
}
.grid-6 {
    padding : 12px;
    width : 16.66%;    
}
.grid-7 {
    padding : 12px;
    width : 14.2%;    
}
.grid-8 {
    padding : 12px;
    width : 12.5%;    
}
.grid-9 {
    padding : 12px;
    width : 11.11%;    
}

.transparent{
    background-color : rgba(255, 255, 255, .15);
}

